/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body{
  background:#46494C;
  text-align: center;
  font-style: 24px;
  color: #DCDCDD;
  font-size: 16px;
  font-family: 'Sono', sans-serif;
}

/* #DCDCDD main
#C5C3C6 mid- main
#46494C dark - main
#4C5C68 dark-accent
#1985A1 light-accent*/
.title{
  margin: 50px auto;
  font-size: 35px;
  font-weight: 700;
  padding: 10px;
  margin-bottom: 10px;
  text-shadow: 4px 4px 4px rgba(0,0,0,.6);
}
.recipeCard{
  margin: 0 auto;
  width: 600px;
  height: auto;
  border: 5px dashed #C5C3C6;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,.4);
  background:#1985A1;
  border-radius: 25px;
  padding: 15px;
}

.recipeBody{
  display: flex;
  border-radius: 20px;
  padding: 20px;
  justify-content: space-around;
  background: #4C5C68;
  margin-bottom: 20px;
  gap: 20px;
}
.recipeName{
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  text-shadow: 2px 4px 3px rgba(0,0,0,.4);
  font-weight: 700;
  font-size: 24px;
  text-decoration: underline;
}
.ingredList{
  text-align: left;
  width: 40%;
}
.directionsList{
  width: 60%;
  list-style-type: decimal;
  border-left: 5px solid #C5C3C6;
}
.recipeList{
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  gap: 40px;
  list-style-type: none;
}
.ingredTable{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 25px;

}

.ingredForm{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
}

.recipeForm{
  width: 600px;
  background: #4C5C68;
  border: 4px solid #C5C3C6;
  border-radius: 25px;
  box-shadow: 3px 6px 3px 3px rgba(0,0,0,.3);
  margin: 0 auto;
  padding: 30px;
}
.orderedSteps{
  display: flex;
  flex-direction: column;
  list-style-type: decimal;
  /* list-style-position: inside; */
  gap: 18px;
  padding-left: 50px;
  text-align: left;
}
.orderedSteps p{
  transform: translateX(-8px);
  line-height: 25px;
}
.shareBtn{
  padding: 5px 15px;
  font-size: 20px;
  font-weight: bold;
  background:#4C5C68;
  color: #DCDCDD;
  border: 2px solid #C5C3C6;
  border-radius: 30px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}

.btn{
  padding: 5px 15px;
  font-size: 20px;
  font-weight: bold;
  background:#1985A1;
  color: #DCDCDD;
  border: 2px solid #C5C3C6;
  border-radius: 30px;
  width: 20%;
}

.navBtn{
  margin: 20px;
}
.recipeInputs{
  font-family: "Sono", sans-serif;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 5px;

  font-size: 18px;
  font-style: bold;
  border-radius: 25px;
  
}
.inputContainer{
  display: flex;
  justify-content: space-between;

}

.textareaInput{
  padding: 5px;
  font-size: 18px;
  font-style: bold;
}
.ingred{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  text-align: left;
  padding: none;
}
.redAlert{
  color: #DCDCDD;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px;
}
.stepsList{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}
.deleteIcon{
  float: right;
  border-radius: 50%;
  border: 2px solid #C5C3C6;
  font-size: 18px;
  font-weight: 700;
  padding: 3px 10px;
  color:#C5C3C6;
  background:rgb(129, 1, 1);
}
.addBtn{
  width: 20%;
  margin: 0 auto;
}



